@use "../tools/tools" as *;

.character--wrapper {
  aspect-ratio: 219/247;
  width: 11%;
  height: auto;
  position: fixed;
  right: 6%;
  bottom: 20px;
  z-index: 3;
  transform: scale(0.8);
}
.keyboard,
.mousemove,
.mousemoveHiddle {
  display: none;
}

.animationFrame {
  position: absolute;
  top: 0;
  right: 0;
}
.animationFrame,
.animationFrame img {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
